<div class="container-fluid">
  <div class="row logo">
    <span></span><h3>Spotify<span>Clone</span></h3>
  </div>
  <div class="row navBox">
    <div class="container">
      <a routerLink="" class="active">
        <div class="navitem">
          <span class="fa fa-home"></span> Home
        </div>
      </a>
      <a routerLink="">
        <div class="navitem">
          <span class="fa fa-search"></span> Szukaj
        </div>
      </a>
      <a routerLink="">
        <div class="navitem">
          <span class="fa fa-list"></span> Biblioteka
        </div>
      </a>
    </div>
  </div>
  <div class="row playlist">
    <div class="container">
      <app-playlists></app-playlists>
    </div>
  </div>
</div>
