<div class="container-fluid">
  <div class="row">
    <p style="cursor: default">PLAYLISTY</p>
  </div>
  <div class="row">
    <div class="navBox">
      <a routerLink="" >
        <div class="navitem">
          <span class="fa fa-plus-circle"></span> Utwórz playlistę
        </div>
      </a>
      <a routerLink="" >
        <div class="navitem">
          <span class="fa fa-gratipay"></span> Polubione utwory
        </div>
      </a>
    </div>
  </div>
  <div class="row list">
    <ul class="playlist-list">
      <ng-container *ngFor="let item of playlistArray | async">
        <a [routerLink]="'playlist/'+item.id">
          <li>{{ item.name}}</li>
        </a>
      </ng-container>
    </ul>
  </div>
</div>
