.container-fluid {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  z-index: 99;
  background-color: black;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 5px 2px black;
  color: #535353;
}
.row {
 height: 100%;
 margin: 0;
 padding: 0 10px;
 display: flex;
 justify-content: space-between;
}
.miusic {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.img {
  width: 100px;
  height: 100%;
}
.img img {
  width: 100%;
  height: 100%;
}
.autor {
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}
.autor p {
  margin: 0;
  padding: 0;
}
.autor p:nth-child(1) {
  font-weight: bold;
  color: white;
}
.autor p:nth-child(2) {
  font-size: 12px;
}
.icons {
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.icons span {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
.controls {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.playback {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.playback span {
  padding: 0 5px;
}
.progress {
  width: 100%;
  background-color: #0a0a0a;
  box-shadow: inset 0 0 3px black;
}
.progress-bar {
  background-color: #1DB954;
  box-shadow: inset 0 0 3px black;
}
.controls-track {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.controls-track span {
  width: 20px;
  height: 20px;
  margin: 0 30px;
}














.volume {
  width: 300px;
  height: 100%;
  border: 1px solid green;

}
